<%-include ('../partials/header.ejs')%>
  <%-include ('../partials/main_nav.ejs')%>

    <body>
      <div class="content">
        <div class="centered">
          <h2>Incident Record</h2>
        </div>
      </div>

      <div class="all">
        <div class="row">
          <div class="col-md-offset-3 col-md-12">

            
            <a href="/incident-list/add" class="btn btn-light" role="button">
              <i class="fas fa-plus-circle"></i> Make a Ticket </a>
            <br>
            <table class="table table-bordered table-striped table-hover">
             
              <tr class="d-flex">
                <th class="text-center col-1">Record Number</th>
                <th class="text-center col-1">Name</th>
                <th class="text-center col-2">Date(DDMMYY)</th>
                <th class="text-center col-1">Status</th>
                <th class="text-center col-2">Location</th>
                <th class="text-center col-2">Description</th>
                <th class="text-center col-1">Priority</th>
             
                <th class="text-center col-1"></th>
                <th class="text-center col-1"></th>
                
              </tr>
              <div style="visibility:hidden"><%= myNumber=1%></div>
              
              <!--repeatable templete row-->
              <% for(let count=0; count < IncidentList.length; count++) {%>
                <tr class="d-flex">
                  
                    <td class="text-center col-1">
                      <%= IncidentList[count].date %> 
                      <p>- 0000<%=myNumber++%></p>
                    </td>
                    <td class="text-center col-1">
                      <%= IncidentList[count].name %>
                    </td>
                    <td class="text-center col-2">
                      <%= IncidentList[count].date %>
                    </td>
                    <td class="text-center col-1">
                      <%= IncidentList[count].status %>
                    </td>
                    <td class="text-center col-2">
                      <%= IncidentList[count].location %>
                    </td>
                    <td class="text-center col-2">
                      <%= IncidentList[count].description %>
                    </td>
                    <td class="text-center col-1">
                      <%= IncidentList[count].priority %>
                    </td>

                    <td class="text-center col-1">
                      <a href="/incident-list/edit/<%=IncidentList[count]._id%>" class="btn btn-light btn-sm">
                        <i class="fas fa-pencil-alt"></i> Edit</a>
                    </td>
                    <td class="text-center col-1">
                      <a href="/incident-list/delete/<%=IncidentList[count]._id%>" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i> Delete</a>
                    </td>
                </tr>
              <%}%>
            </table>
          </div>
        </div>

      </div>
    </body>

    <%-include ('../partials/bottom_nav.ejs')%>
      <%-include ('../partials/footer.ejs')%>